<article
  class="flex flex-col items-center justify-center text-center h-full"
>
  <header class="flex flex-col items-center mb-3">
    {{ with .Site.Params.band.image }}
      {{ $bandImage := resources.Get . }}
      {{ if $bandImage }}
        {{ $bandImage := $bandImage.Fill "288x288" }}
        <img
          class="mb-2 rounded-full w-36 h-36"
          width="144"
          height="144"
          alt="{{ $.Site.Params.band.name | default "Band" }}"
          src="{{ $bandImage.RelPermalink }}"
        />
      {{ end }}
    {{ end }}
    <h1 class="text-4xl font-extrabold">
      {{ .Site.Params.band.name | default .Site.Title }}
    </h1>
    {{ with .Site.Params.band.album }}
      <h2 class="text-2xl text-neutral-500 dark:text-neutral-400">
        {{ . | markdownify | emojify }}
      </h2>
    {{ end }}
  </header>
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</article>
