{{/* GitHub Link */}}
{{ partialCached "band-links.html" . }}
{{ with .Site.Author.repolink }}
  <div class="flex justify-content-center text-neutral-400 dark:text-neutral-500">
      {{  $url := . }}
      {{  $name := "github" }}
          <a
            class="px-1 hover:text-neutral-500 dark:hover:text-neutral-400"
            href="{{ $url }}"
            target="_blank"
            aria-label="Site Repository"
            rel="me noopener noreferrer"
            >{{ partial "icon.html" $name }}</a>
	  <a 
            class="hover:underline hover:text-neutral-500 dark:hover:text-neutral-400"
            href="{{ $url }}"
	    >See how this site was built.<a/>
  </div>
{{ end }}
