<article>
  <div class="flex flex-col space-y-4">
   <div>
      <a class="px-4 py-2 !text-neutral !no-underline !rounded-md bg-primary-600 hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
      href="https://distrokid.com/hyperfollow/supersenior1/loans-lost-friends-and-shut-ins"
      target="_blank"
      role="button"
      >Spotify Pre-save</a
   >
   </div>
   <div>
      <a class="px-4 py-2 !text-neutral !no-underline !rounded-md bg-primary-600 hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
      href="https://www.amazon.com/dp/B0B8WP87QN/ref=dm_rwp_pur_lnd_preo_unrg"
      target="_blank"
      role="button"
      >Amazon Pre-Order</a
   >
   </div>
  </div>
</article>